
html, body{
  font-family: "main";
  color: salmon;
  background-color:dimgrey;
}

.Menu_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  gap: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  background-color:lightgray;
}

.back_home {
  gap: 2%;
  margin-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.back_home > button{
  color: salmon;
  font-size: large;
}

.search {
  gap: 2%;
  margin-left: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.search > input{
  color: salmon;
  font-size: large;
}

.logout {
  gap: 2%;
  margin-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.logout > button{
  color: salmon;
  font-size: large;
}

.Header_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
} 

/* MyToDo Today */
.username {
  padding: 1%;
  font-size: 240%;
  margin-left: 4%;
}

.tasks_board{
  color: lightgray;
  background-color: salmon;
  text-align: center;
  font-size: 160%;
  padding: 0.3%;
  margin-left: 6%;
}

.main_Header {
  padding: 1%;
  text-align:center;
  font-size: 240%;
  margin-left: 20%;}

.Today_date {
  padding: 1%;
  text-align:center;
  font-size: 260%;
  margin-left: 15%;
}

/* My Task List */
.Header {
  text-align:center;
  font-size: 260%;
  margin-left: 25%;
  padding: 1%;
}

.update_header {
  text-align:center;
  font-size: 260%;
  margin-top: 10%;
}

.tasks {
  text-align: center;
  justify-content: center;
  background-color:lightgray;
  padding: 1%;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.headlines {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1%;
  font-size:xx-large;
  font-weight: 600;
}

.task {
  background-color: rgb(242, 241, 236);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0.5%;
  font-size: x-large;
  margin-top: 0.5%;
}

.task > div{
  font-size: x-large;
  margin-top: 1%;
  margin-bottom: 1%;
}

.task:nth-child(even){
  background-color: antiquewhite;
}

.add_container {
  font-size: large;
  margin: 2%;
  background-color: rgb(242, 241, 236);
  padding-left: 1%;
}

.add {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: flex;
  font-size: x-large;
}

.add > div {
  margin-left: 7%;
  margin-top: 2.7%;
}

.add > div > input{
  color: salmon;
  font-size: large;
}

.add > div > select{
  color: salmon;
  font-size: large;
}

.add > div > select > option{
  color: salmon;
  font-size: large;
}

.update {
  text-align: center;
  padding-top: 1%;
  font-size: large;
  padding-bottom: 1%;
  justify-content: center;
}

.update1 > input {
  padding-top: 1%;
  font-size: large;
  padding-bottom: 1%;
}
 
.signup_button {
  margin-top: 1.5%;
  margin-left: 1%;
}

.signup_button > button {
  font-size: x-large;
  color: salmon;
}

.login_header {
  text-align:center;
  font-size: 350%;
  margin-top: 5%;
}

.login {
  text-align:center;
  padding-top: 1%;
  font-size: xx-large;
}

.login > input {
  font-size: x-large;
  color: salmon;
}

.back_to_top {
  color: salmon;
  font-size: large;
  margin-left: 45%;
}