@font-face{
  font-family: "main";
  src: url("sources/fonts/Heebo-VariableFont_wght.ttf");
}

html, body{
  font-family: "main";
  color: rgb(71, 92, 174);
}


.Menu_container {
  display: flex;
  gap: 2%;
  margin: 2%;
  background-color: rgb(242, 241, 236);
  margin-top: 2%;
}


.back_home {
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}


.back_home.button {
  color: goldenrod;
}

.Tasks_List {
  gap: 2%;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}


.search {
  gap: 2%;
  margin-left: 65%;
  padding-top: 1%;
  padding-bottom: 1%;
}


.Header_container {
  display: flex;
  margin-top: 4%;
} 


.main_Header {
  text-align:center;
  font-size: 240%;
  margin-left: 38%;
}


.Header {
  text-align:center;
  font-size: 260%;
}


.update_header {
  text-align:center;
  font-size: 260%;
  margin-top: 10%;
}


.Today_date {
  text-align:center;
  font-size: 260%;
  margin-left: 15%;
}


.tasks {
  text-align: center;
  justify-content: center;
  background-color: rgb(242, 241, 236);
  padding: 1%;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;

}

.headlines {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1%;
  font-size:x-large;
}


.task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1%;
  font-size: large;
}


.category {
}
 

.description {
}
 

.date {
  text-align: left;
}


.delete {
  display: inline-block;
  margin-left: 80%;
  background-color: rgb(243, 131, 131);
  border: solid;

}


.to_update {
  display: inline-block;
  margin-left: 80%;
  background-color: rgb(176, 201, 177);
  border: solid;
}


.add_container {
  gap: 2%;
  margin: 2%;
  background-color: rgb(242, 241, 236);
  margin-top: 4%;
}


.add {
  text-align: center;
  padding-top: 1%;
  font-size: large;
  padding-bottom: 1%;
}
 

.update {
  text-align: center;
  padding-top: 1%;
  font-size: large;
  padding-bottom: 1%;
}
 

.Back_to_Top {
  display: inline-block;
  margin-left: 43%;
  background-color: rgb(176, 201, 177);
  font-weight: bold;
  font-size: large;
  border: solid;
  margin-top: 2%;


}




