<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Login</title>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <script type="text/babel" src="/static/login.js"></script>
    <div class="signup_button">
        <button button type="button" onclick="location.href='/to_sign_up'">Sign Up</button>    
    </div>
    <div class="login_header">Login</div>
        <form action="/login" method="post" class="login">
            <input type="text" name="username" placeholder="username">
            <br><br>
            <input type="password" name="password" placeholder="password">
            <br>
            <div class="login1" id="login"></div>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
    <br><br><br>
</body>
</html>