<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="update_header">Login</div>
    <div class="update"> 
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username">
            <br><br>
            <input type="password" name="password" placeholder="password">
            <br><br>
            <input type="submit" value="login">
        </form>
    </div>
    <br><br><br>
    <div class="update">
        <button button type="button" onclick="location.href='/to_sign_up'">sign up</button>    
    </div>
</body>
</html>