<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>sign up</title>
</head>
<body>
    <div class="signup_button">
        <button button type="button" onclick="location.href='/'">Login</button>    
    </div>
    <div class="login_header">Sign Up</div>
        <form action="/sign_up" method="post" class="login">
            <input type="text" name="username" placeholder="username">
            <br><br>
            <input type="password" name="password" placeholder="password">
            <br><br>
            <input type="submit" value="Sign Up">
        </form>
    <br><br><br>
    
</body>
</html>