<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>sign up</title>
</head>
<body>
    <div class="update_header">Sign Up</div>
    <form action="/sign_up" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="sign up">
    </form>
    <br><br><br>
    <div class="login">
        <button button type="button" onclick="location.href='/login'">login</button>    
    </div>
</body>
</html>