<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Tasks List</title>
</head>
<body>
    <div class="Menu_container">
        <div class="back_home">
            <button type="button" onclick="location.href='/today'">ToDo Today</button>
        </div>
        <form action="/search" method="get" class="search"> 
            <input type="submit" value="Search">
            <input type="text" name="query" autofocus>
        </form>
        <div class="logout">
            <button button type="button" onclick="location.href='/logout'">LogOut</button>    
        </div>
    </div>
    <div class="Header_container">
        <div class="username">{{ username }}</div>
        <div class="Header">Tasks List</div>
    </div>
    <div class="tasks">
        <div class="headlines">
            <div class="date">Date</div>
            <div class="category">Category</div>
            <div class="description">Description</div>
        </div>
        {% for task in sorted_list %}
            <div class="task">
                <div class="date"> {{ task.date }}</div>
                <div class="category"> {{ task.category }}</div>
                <div class="description"> {{ task.description }}</div>                              
                <div><button class="completed btn-tasks"><a href="/to_update?id={{task.id}}&category={{ task.category }}&description={{ task.description }}&date={{ task.date }}">Update</a></button></div>
                <div><button class="delete btn-tasks"><a href="/delete?category={{ task.category }}&description={{ task.description }}&date={{ task.date }}">Delete</a></button></div>
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="add_container">
        <form class="add" action="/add_Task_list" method="get">
            <h2>Add a Task:</h2>
            <div class="add_category">Category:
                <select name="category">
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                    <option value="Health">Health</option>
                    <option value="Car">Car</option>
                    <option value="General">General</option>
                </select>
            </div> 
            <div class="add_description">Description:
                <input type="text" name="description" placeholder = "Description">
            </div>
            <div class="add_date">Date:
                <input type="date" name="date">
            </div>
            <div class="add_submit">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
    <div>
        <button class="back_to_top">
            <a href="#Top">Back to Top</a>
        </button>
    </div>
</body>
</html>