<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Tasks List</title>
</head>
<body>
    <div class="Menu_container">
        <div class="back_home">
            <button type="button" onclick="location.href='/today'">MyToDo Today</button>
        </div>
        <div class="search">
            <form action="/search" method="get"> 
                <input type="submit" value="Search">
                <input type="text" name="query" autofocus>
            </form>
        </div>
    </div>
    <div class="Header">My Tasks List</div>
    <div class="tasks">
        <div class="headlines">
            <div class="date">Date</div>
            <div class="category">Category</div>
            <div class="description">Description</div>
        </div>
        {% for task in sorted_list %}
            <div class="task">
                <div class="date"> {{ task.date }}</div>
                <div class="category"> {{ task.category }}</div>
                <div class="description"> {{ task.description }}</div>              
                <div><button class="delete"><a href="/delete?category={{ task.category }}&description={{ task.description }}&date={{ task.date }}">Delete</a></button></div>
                <div><button class="to_update"><a href="/to_update?category={{ task.category }}&description={{ task.description }}&date={{ task.date }}">Update</a></button></div>
            </div>
        {% endfor %}
    </div>
    <div>
        <button class="back_to_top">
            <a href="#Top">Back to Top</a>
        </button>
    </div>
</body>
</html>