<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>MyToDo</title>
</head>
<body>
    <div class="Menu_container">
        <div class="back_home">
            <button button type="button" onclick="location.href='/Tasks_List'">Tasks List</button>    
        </div>
        <div class="logout">
            <button button type="button" onclick="location.href='/logout'">LogOut</button>    
        </div>
        <div class="search">
            <form action="/search" method="get"> 
                <input type="submit" value="Search">
                <input type="text" name="query" autofocus>
            </form>
        </div>
    </div>
    <div class="Header_container">
        <div class="main_Header">MyToDo Today</div>
        <div class="Today_date">{{ day }}/{{ month }}/{{ year }}</div>
    </div>
<!-- טבלת משימות יומיות -->
    <div class="tasks">
        <div class="headlines">
            <div class="category">Category</div>
            <div class="description">Description</div>
        </div>
        {% for task in sorted_list %}
            <div class="task">
                <div class="category"> {{ task.category }}</div>
                <div class="description"> {{ task.description }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="add_container"><h1>Add a Task:</h1>
        <form class="add" action="/add" method="get">
            <div class="category">Category:
            <select name="category" class="cat">
                <option value="Home">Home</option>
                <option value="Work">Work</option>
                <option value="Health">Health</option>
                <option value="Car">Car</option>
                <option value="General">General</option>
            </select>
            </div> 
            <div class="description">Description:
                <input type="text" name="description" placeholder = "Description" class="des">
            </div>
            <div class="date">Date:
                <input type="date" name="date" class="dat">
            </div>
            <div class="submit"><input type="submit" value="Add">
            </div>
        </form>
    </div>
</body>
</html>