<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>ToDo</title>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <script type="text/babel" src="/static/today.js"></script>
    <div class="Menu_container">
        <div class="back_home">
            <button button type="button" onclick="location.href='/Tasks_List'">Tasks List</button>    
        </div>
        <form action="/search" method="get" class="search"> 
            <input type="submit" value="Search">
            <input type="text" name="query" autofocus>
            </form>
        <div class="logout">
            <button button type="button" onclick="location.href='/logout'">LogOut</button>    
        </div>
    </div>
    <div class="Header_container">
        <div class="username">{{ username }}</div>
        <div class="tasks_board" id="tasks_board"></div>
        <div class="main_Header">ToDo Today</div>
        <div class="Today_date">{{ day }}/{{ month }}/{{ year }}</div>
    </div>
<!-- טבלת משימות יומיות -->
    <div class="tasks">
        <div class="headlines">
            <div class="category">Category</div>
            <div class="description">Description</div>
        </div>
        {% for task in sorted_list %}
            <div class="task_today">
                <div class="category"> {{ task.category }}</div>
                <div class="description"> {{ task.description }}</div>
                <div><button class="completed btn-tasks"><a href="/completed_today/{{task.id}}/?completed={{task.completed}}">
                    {% if task.completed == 1 %}
                        Completed
                    {% else %}
                        Not Completed
                    {% endif %}
                </a></button></div>
                <div><button class="delete btn-tasks1"><a href="/delete_today?category={{ task.category }}&description={{ task.description }}&date={{ task.date }}">Delete</a></button></div>
            </div>
        {% endfor %}
    </div>
    <div class="add_container">
        <form class="add" action="/add" method="get">
            <h2>Add a Task:</h2>
            <div class="add_category">Category:
                <select name="category">
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                    <option value="Health">Health</option>
                    <option value="Car">Car</option>
                    <option value="General">General</option>
                </select>
            </div> 
            <div class="add_description">Description:
                <input type="text" name="description" placeholder = "Description">
            </div>
            <div class="add_date">Date:
                <input type="date" name="date">
            </div>
            <div class="add_submit">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
</body>
</html>