<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Update</title>
</head>
<body>
    <div class="update_header">Update a Task</div>
    <div class="add_container"> 
        <div class="update">
            <form action="/update" method="get">
                <input type="text" name="category" placeholder = "{{ category }}" autofocus>
                <input type="text" name="description" placeholder = "{{ description }}">
                <input type="date" name="date" placeholder= "{{ date }}">
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>